<!-- Modal -->
<div class="modal fade view-admin" id="viewAdmin" tabindex="-1" role="dialog" aria-labelledby="viewAdminLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="media">
        <img class="img-fluid ml-8 mt-8 avatar" src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/emir.jpeg?raw=true" alt="avatar-emir">
        <div class="media-body text-dark">
          <div class="modal-header pl-6 pb-0">
            <h5 class="modal-title text-md" id="viewAdminLabel">#1</h5>
            <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
              <span class="material-icons" aria-hidden="true">clear</span>
            </button>
          </div>
          <div class="modal-body pl-6 pt-0">
            <span class="d-block">Admin</span>
            <h4>Emir Wicks</h4>
            <span class="d-block text-info mb-2 text-sm">emir.wicks@mail.com</span>
            <div class="d-flex justify-content-between align-items-center">
              <span class="badge badge-secondary px-2 py-1 text-capitalize">verified</span>
              <a href="#collapseButtons" data-toggle="collapse" class="rotate-180 collapsed">
                <span class="material-icons d-block">expand_more</span>
              </a>
            </div>
          </div>
          <div class="collapse" id="collapseButtons">
            <div class="modal-footer pl-6 pt-0">
              <button type="button" class="btn btn-outline-danger text-capitalize" data-dismiss="modal">deactivate</button>
              <button type="button" class="btn btn-primary text-capitalize">edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>