.menu {
  padding: 2rem;
  width: 18.5rem;
  .logo {
    a {
      display: block;
      background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week5/logo-ANSWER.svg");
      background-position: center center;
      background-repeat: no-repeat;
      width: 151px;
      height: 40px;
      text-indent: 101%;
      overflow: hidden;
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .nav-link {
    &.active {
      border-left: 4px solid $primary;
    }
  }
}