table {
  min-width: 58.5rem;
  margin-bottom: 4rem;
  th {
    border-bottom: 1px solid $dark;
  }
  tr {
    &:not(:first-child):hover {
      background-color: $secondary;
    }
  }
  td {
    padding-top: 17px;
    padding-bottom: 19px;
    border-bottom: 1px solid $light;
  }
}

.pagination {
  .page-link {
    &:hover i {
      color: $white;
    }
  }
}