body {
  font-family: $font-family-base;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-md {
  font-size: 1rem !important;
}

.lh-2 {
  line-height: 2rem !important;
}

.nav-link {
  &.active {
    color: $primary;
  }
}

.modal-header {
  .close {
    opacity: .75 !important;

    &:hover {
      opacity: 1 !important;
    }
  }
}

.rotate-180 {
  &.collapsed {
    animation-name: counter-clockwise;
    animation-duration: .35s;
    animation-fill-mode: forwards;
  }

  &:not(.collapsed) {
    animation-name: clockwise;
    animation-duration: .35s;
    animation-fill-mode: forwards;
  }
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes counter-clockwise {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}